_
*.pyc
*.pyo
__pycache__/
*.egg-info
.cache
.coverage
coverage
.eggs
dist
build
.env*
.pytest_cache/
lib/frontend/assets/
lib/frontend/static/
dist/
node_modules/
base.Makefile
config.custom.Makefile
lib/backend/application-custom.cfg
.eslintcache
.venv/
yarn-error.log
.idea/
